<html>
<head lang="en">
    <meta charset="utf-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style type='text/css'>
        #code{
            font-family:Arial,宋体;
            font-style:italic;
            color:blue;
            size:12px;
            border:0;
            padding:2px 3px;
            letter-spacing:8px;
            font-weight:bolder;
        }
    </style>
</head>

<body >
<table border=0><tr><th width=200 height=30></th><th ><img src="../static/asserts/img/4.jpg" height="36px" width="36px"></th></tr></table>
<table border=0><tr><th width=700 height=400></th><th>
    <form  action="/user/register" method="post">
        <table border=0 height=400 >
            <tr><th height=65><font  size='4'>用 户 名</th><th><input type="text" style="height:40px" placeholder="请输入用户名" size=40 name="name"></th></tr>
            <tr><th height=65><font  size='4'>密    码</th><th><input type="password" style="height:40px"  size=40 name="password" id="password"></th></tr>
            <tr><th height=65><font  size='4'>年龄</th><th><input type="text" style="height:40px" placeholder="年龄" size=40 name="age"></th></tr>
            <tr><th height=65><font  size='4'>描述</th><th><input type="text" style="height:40px" placeholder="密码找回" size=40 name="description"></th></tr>
            <tr><th colspan=2 height=65><input type="checkbox"><font size='2' color='red' required/>我已阅读并同意相关条例</font></input></th></tr>
            <tr><th colspan=2 height=65><input type='submit' style="background-color:red;height:55px;width:160px;font-size:25px;color:white;border:none" value='注册'id='l'  ></th></tr>
        </table>
    </form></th></tr></table>
<table><tr><th bgcolor='f9f8ed' height=200 width=2000><p>📧联系邮箱：2487530839@qq.com</p><p>联系地址：大学城</p><p>📞联系电话：13421192910</p></th></tr></table></body>
</body>
</html>

